<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{PLOT_NAME}}</title>
    <style>
      html,
      body,
      .container {
        height: 100%;
        width: 100%;
        margin: 0px;
      }
    </style>
  </head>

  <body>
    <div id="plot" class="container"></div>

    <!-- Import Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    <script type="text/javascript">
      var data = "{{DATA}}";
      var layout = {
        title: "{{PLOT_NAME}}",
        xaxis: {
          title: "{{X_TITLE}}",
          type: "{{X_TYPE}}",
        },
        yaxis: {
          title: "{{Y_TITLE}}",
          type: "{{Y_TYPE}}",
        },
        showlegend: true,
      };

      Plotly.newPlot("plot", data, layout, {
        scrollZoom: true,
        responsive: true,
      });
    </script>
  </body>
</html>
