<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ escape_for_html(title) }}</title>
    <style>
        html,
        body,
        .container {
            height: 100%;
            width: 100%;
            margin: 0px;
        }
    </style>
</head>

<body>
    <div id="plot" class="container"></div>

    <!-- Import Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>

    <div id="dataset" style="display:none">
        {{ escape_for_html(dataset) }}
    </div>

    <script type="text/javascript">
        var dataset_str = document.querySelector('#dataset').textContent
        var dataset = JSON.parse(dataset_str);

        Plotly.newPlot("plot", dataset.data, dataset.layout, dataset.config);
    </script>
</body>

</html>
